<section class="row">
  <div class="col-md-8">
     <div class="media">
      <i class="fa fa-user fa-3x pr-2" aria-hidden="true"></i>
      <div class="media-body">
        <h6 class="media-head">{{user.firstName}}, {{user.lastName}}</h6>

        <div class="row">
          <div class="col-sm-6">
             <span>{{user.username}}</span> 
            <!-- <span>{{fileTransaction?.surname}}</span> -->
          </div>

          <!-- <div class="col-sm-6">
            <currency-format [amount]="fileTransaction?.amount"></currency-format>
          </div> -->
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="float-right">
      <div *ngFor="let role of roles; let i = index" class="form-check form-check-inline">
        <input class="form-check-input" 
              [checked]="isRoleChecked(role)" 
              [disabled]="canEditRole(role)"
              (click)="updateSelection(role)" 
              type="checkbox" />
        <label class="form-check-label">{{role.roleName}}</label>
      </div>
    </div>
  </div>
</section>
