@import '../../../../styles/style-set.scss';

.dropdown-menu {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.open>.dropdown-menu {
  // top: 32px;
  width: calc(100% - 28px);
  left: 14px;
  max-height: 220px;
  overflow-y: auto;
}

ul.dropdown-menu{
  left: 0px !important;
  width: 100% !important;
}

.caret {
  border-top: 8px dashed;
  border-top: 8px solid;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  margin-top: 7px;
}

.soundWave{
    color: black !important;
    overflow: hidden;
}

.busyDropdown{
  font: $primaryTextFont;
}

