@import '../../../../styles/style-set.scss';
@import '../../../../styles/mixins.scss';

:host /deep/ .ngxmdp {
    position: unset;
  }

:host /deep/ .ngxmdp .selectorarrow {
   margin-top: 45px;
}

:host /deep/ div.selector.selectorarrow.selectorarrowleft {
  left: auto !important;
  right: 0px;
}

:host /deep/ .ngxmdp .selectorarrowleft:after, .ngxmdp .selectorarrowleft:before, div.selector.selectorarrow.selectorarrowleft::before{
  left: auto !important;
  right: 4px;
}

:host /deep/ div.selector.selectorarrow.selectorarrowleft::before{
  left: auto !important;
  right: 4px;
}

:host /deep/ .mydrp, .mydrp .headerclearbtn, .mydrp .headerokbtn {
    width: 100% !important;
}

:host /deep/ .mydrp, .mydrp .headertodaybtn, .mydrp .selection, .mydrp .selectiongroup, .mydrp .selector {
 height: $controlHeight;
 background-color: $white;
 margin-bottom: -8px;
}

:host /deep/ .mydrp .selectorarrow:after {
  border:  none !important;
}