/* You can add global styles to this file, and also import other style files */
/*bg-primary {
    border-color: #127ba3;
}


bg-primary {
    background-color: #158CBA !important;
}


.navbar {
    border-style: solid;
    border-width: 0 1px 4px 1px;
    border-color: #158CBA;
}*/

@import "../../node_modules/bootswatch/dist/spacelab/variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootswatch/dist/spacelab/bootswatch";
@import "../../node_modules/bootswatch/dist/spacelab/bootstrap.min.css";

@import 'style-set.scss';
@import 'mixins.scss';

.alert-danger {
  color: #E30613;
  background-color: #FCE6E7;
  border-color: #F49BA1;
}

.alert-danger-inline {
  color: #E30613;
  padding-left: 0px !important;
}

.alert {
  padding: 10px;
  margin: 0 0 5px 0;
}

.dropdown-menu {
    width: 300px !important;
}

body{
    background:url('http://www.wallpaperup.com/uploads/wallpapers/2012/10/21/20181/cad2441dd3252cf53f12154412286ba0.jpg');
    //padding:50px;
}

.background-theme {
    background: white;
    //background: #9CECFB;
    /* fallback for old browsers */
   // background: -webkit-linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);
    /* Chrome 10-25, Safari 5.1-6 */
    //background: linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);
    border: 1px solid #345578;
    padding-left: 15px;
    padding-right: 15px;
}

.form-gap {
    padding-top: 50px;
}

button[disabled=disabled], button:disabled{
    opacity: 0.65; 
    cursor: not-allowed !important;
  }

.user-screen {
    width: 430px;
}

/*.pass_show { 
    position: relative;
} 

.pass_show .ptxt { 

position: absolute; 

top: 50%; 

right: 10px; 

z-index: 1; 

color: #f36c01; 

margin-top: -10px; 

cursor: pointer; 

transition: .3s ease all; 

} 

.pass_show .ptxt:hover{
    color: #333333;
} */

.card {
    border: none;
    background-color: $primaryItemColor;
    margin-bottom: 15px;
    padding-bottom: 1px;
    @include box-shadow(2px, 2px, 2px, $shadowColor);
  }
  
  .content-panel-no-shadow {
    border: none;
    background-color: $primaryItemColor;
    margin-bottom: 10px;
    padding-bottom: 1px;
  }
  
  .dropdown-toggle::after {
    border: none !important;
  }
  
  .list-group-item {
    border-left: none !important;
    border-right: none !important;
    padding-bottom: 0.4rem !important;
    padding-left: 1rem !important;
    padding-top: 0.4rem !important;
  }
  
  .list-group-item:first-child {
    border-top: none !important;
  }
  
  .hand-pointer {
    cursor: pointer;
  }
  
  .open>.dropdown-toggle.btn-default.focus,
  .open>.dropdown-toggle.btn-default:focus,
  .open>.dropdown-toggle.btn-default:hover {
    background-color: white;
  }