<div class="container">
    <custom-panel class="container">
      <ng-container class="heading">Change Password</ng-container>
  
      <div class="body">
        <form class="container">
          <div class="form-group row">
            <label for="inputOldPassword" class="col-lg-4 col-form-label">Current password</label>
            <div class="col-lg-8">
              <input type="text" class="form-control" id="inputOldPassword" placeholder="Name">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputNewPassword" class="col-lg-4 col-form-label">New passord</label>
            <div class="col-lg-8">
              <input type="text" class="form-control" id="inputNewPassword" placeholder="Surname">
            </div>
          </div>
          <div class="form-group row">
            <label for="confirmPassword" class="col-lg-4 col-form-label">Confirm password</label>
            <div class="col-lg-8">
              <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm password">
            </div>
          </div>
          <div class="form-group row">
            <label for="passwordHint" class="col-lg-4 col-form-label">Password hint</label>
            <div class="col-lg-8">
              <input type="text" class="form-control" id="passwordHint">
            </div>
          </div>
          <hr>
          <span class="login">
            <button type="submit" class="btn primaryButton float-right">Submit</button>
          </span>
        </form>
      </div>
    </custom-panel>
  </div>