<div bsModal #busyModal="bs-modal" class="modal fade" role="dialog" [config]="{backdrop: 'static',keyboard: false}">
  <div class="modal-dialog">
    <div class="modal-content busyModalContent">
      <div class="modal-body">
        <div class="row h-100 justify-content-center align-items-center">
          <div class="wave">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
