<custom-panel>
  <ng-container class="heading">Invoice upload</ng-container>
  <div class="body">

    <div class="form-group row">
      <label for="example-text-input" class="col-sm-2 col-form-label">Upload files</label>
      <div class="col-sm-10">
        <div class="custom-file">
          <input #uploadFile
                 type="file" 
                  class="custom-file-input" 
                  id="customFile" 
                  (change)="fileChangeListener($event.target.files)"
            accept=".csv">
          <label class="custom-file-label" for="customFile">{{ fileName }}</label>
        </div>
      </div>
    </div>
  </div>
</custom-panel>

<search-bar [displayName]="'name'" 
            [options]="fileStatuses" 
            [placeholder]="placeholder" 
            [selectText]="selectText" 
            [valueName]="'id'"
            (filterOptionChanged)="filterOptionChanged($event)"
            (searchChanged)="searchInputChanged($event)"
            (dateRangeChanged)="onDateRangeChanged($event)">
</search-bar>